
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  background: #1B1B1B;
  color: #FFFFFF;
  white-space: pre-line;
  /* selection:bg-purple-500/90 selection:text-white */
}

* {
  box-sizing: border-box;
}

a {
  color: #365883;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
